<div class="app-bar d-md-none">
    <button class="btn btn-primary btn-block app-bar__toggle d-flex justify-content-between align-items-center" type="button" data-toggle="collapse" data-target="#collapseMobileNav" aria-expanded="false" aria-controls="collapseMobileNav">
        <span class="mobile-nav__title">Categories</span>
        <i class="fa fa-plus-circle mr-2"></i>
    </button>
    <div class="collapse" id="collapseMobileNav">
        <ul class="nav app-bar__nav flex-column">
            <% for (let [categoryId, category] of Object.entries(categories)) { %>
            <li class="nav-item">
                <a class="nav-link <%= (selectedCategoryId === categoryId) ? 'active' : '' %>" href="/category/<%- categoryId %>"><i class="far <%= category.icon %> mr-3"></i><%= category.name %>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<div class="subheader pt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><%= selectedCategory.name %></h1>
                <div class="subheader__title pb-5">
                    <%= selectedCategory.description %>
                </div>
                <ul class="nav nav-tabs d-none d-md-flex">
                    <% for (let [categoryId, category] of Object.entries(categories)) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= (selectedCategoryId === categoryId) ? 'active' : '' %>" href="<%= categoryId %>"><%= category.name %></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
