<div class="subheader pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title-container">
                    <div class="d-flex justify-content-between mb-5">
                        <button type="button" class="goBack btn btn-outline-light btn-back">
                            <i class="fal fa-long-arrow-left"></i>
                            back to all articles
                        </button>
                        <button type="button" class="btn btn-light btn-copy-link" id="copyLink" data-toggle="tooltip" data-placement="bottom" title="Copy article link">
                            <i class="fal fa-link"></i>
                        </button>
                    </div>
                    <h1 class="text-white mt-2">
                        <%- selectedArticle.title %>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <section class="article py-5">
                <!--<header>-->
                <!--<h1>-->
                <!--<%- selectedArticle.title %>-->
                <!--</h1>-->
                <!--</header>-->
                <main>
                    <%- selectedArticle.content %>
                </main>
            </section>

            <hr>

            <section class="similar_topics py-5">
                <h2>Related articles:</h2>
                <ul class="list--unordered list--two-columns">
                    <% for (const [articleId, article] of demoRelatedArticles) { %>
                    <li>
                        <a href="/article/<%= articleId %>"><%- article.title %></a>
                    </li>
                    <% } %>
                </ul>
            </section>
        </div>
    </div>
</div>
