<%- include('components/subheader', {selectedCategory, selectedCategoryId}) %>

<div class="container pt-4 pb-5">
    <div class="row">
        <% let notFirst = false %>
        <% for (let [sectionName, section] of Object.entries(selectedCategory.sections)) { %>
        <% if(notFirst){ %>
        <div class="col-12">
            <hr class="my-5">
        </div>
        <% } %>
        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far <%- section.icon %>"></i>
                <%= sectionName %>
            </h2>
            <ul class="list--unordered list--two-columns">
                <% for (let articleId of section.articles) { %>
                <li>
                    <a href="/article/<%= articleId %>"><%- getArticleTitleById(articleId) %></a>
                </li>
                <% } %>
            </ul>
        </section>
        <% if(!notFirst){ %>
        <% notFirst = true %>
        <% } %>
        <% } %>
    </div>
</div>
